@use "src/styles/components/color";
.manipulation-form-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  .form-item {
    display: flex;
    flex-direction: column;
    row-gap: 1px;
  }
  .form-action-btn {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    justify-content: flex-end;
  }
}

.error-message {
  color: color.$red-500;
}
