@use "src/styles/components/color";

.management-antd-table-container {
  .utils-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .action-btn {
      display: flex;
      gap: 10px;
      .icon {
        margin-right: 5px;
      }
    }
  }
  .management-table {
    max-height: 100vh;
    .list-btn {
      display: flex;
      flex-direction: row;
      column-gap: 5px;
      max-width: fit-content;
    }

  }
}

//.ant-table {
//  max-height: 100px;
//}
