.t-h1 {
  font-size: 5rem;
}

.t-h2 {
  font-size: 4rem;
}

.t-h3 {
  font-size: 3rem;
}

.t-h4 {
  font-size: 2rem;
}

.t-h5 {
  font-size: 1rem;
}

.t-lighter {
  font-weight: lighter;
}

.t-normal {
  font-weight: normal;
}

.t-bold {
  font-weight: bold;
}

.t-bolder {
  font-weight: bolder;
}
