.wrapper {
  min-height: 100%;
  width: 100%;
  display: flex;
  background-color: #FFFFFF;
  padding: 0px 10px 10px 10px;
}

.d-flex-horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.d-flex-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
