.wrapper {
  min-height: 100%;
  min-width: 100%;
  display: flex;
  background-color: #FFFFFF;
}

.d-flex-horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.d-flex-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mt-12 {
  margin-top: 12px;
}

.mt-5 {
  margin-top: 5px;
}

.ck-editor__editable {
  min-height: 120px;
}
