@use "src/styles/mixin/main";
@use "src/styles/components/color";

.antd-layout {
  .user-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .username {
      padding-top: 15px;
      @include main.text-style(light)
    }
  }

  .site-layout {
    .antd-header {
      padding: 0px 20px 0px 20px;
      background: color.$gray-50;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .toggle-btn {
        cursor: pointer;
        border-radius: 12px;
        width: fit-content;
      }

      .log-out-btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-weight: bold;
        .log-out-text {
          margin-right: 6px;
          height: fit-content;
        }

        &:hover .log-out-icon {
          color: color.$rose-600;
        }
        &:hover {
          cursor: pointer;
        }

      }
    }
    .antd-content {
      margin: 10px 10px;
      padding: 15px;
      background: color.$gray-50;
      border-radius: 8px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
  }
}

